.hd {
  background: linear-gradient(to right, #11111190, transparent),
    url("../../assets/event.jpeg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 50% 20%;
  /* background-size: contain; */
  height: 250px;

  @media (max-width: 768px) {
    height: 150px;
  }
  @media (max-width: 360px) {
    height: 130px;
  }
}
